<h2>Find A Tester</h2>
<form method="post" action="/cgi-bin/cpanmail.cgi">
<table id="matrix">
<tr><td width="85">NNTP ID:</td>
    <td><input type="text" name="nntpid" value="" size="20" /></td>
    <td><input type="submit" name="SEARCH" value="SEARCH" /></td>
</tr>
</table>

<p>This form is purely to be used by distribution authors to obtain the address of a tester,
due to the web interface of the NNTP server hiding such to prevent spamming. 
<p>If this form is
seen to generate spam attacks on testers, further anti-spam restrictions will be put into
place. Please use with care.
